
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
  --theme-color-1: #DEA763;
  --theme-color-2: #4D4B4C;
  --theme-color-3: #eee5da;
  --theme-color-4: #7C424B;
  --theme-color-5: #fff;
  --theme-color-6: #000;
  --theme-color-8: #212121;
  --theme-color-7: #333;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_font_one{
    font-size: clamp(12px, 4vw, 14px);
}
.header_font_two{
    font-size: clamp(10px, 4vw, 12px);
}
.header_font_three{
    font-size: clamp(13px, 4vw, 16px);
}

.bg_one{
    background-color: var(--theme-color-3);
}