@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
  --theme-color-1: #DEA763;
  --theme-color-2: #4D4B4C;
  --theme-color-3: #E8DFD9;
  --theme-color-4: #7C424B;
  --theme-color-5: #fff;
  --theme-color-6: #000;
  --theme-color-8: #212121;
  --theme-color-7: #333;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dancing-script-dancing {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* Preloader Fullscreen Container */
.preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top of all other content */
  }
  /* Butterfly Video Style */
  .butterfly-video {
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Ensures the video fills the screen */
  }

 
  .heroSection {
    background: linear-gradient(135deg, var(--theme-color-1), var(--theme-color-3));
    box-shadow:
      0 4px 8px rgba(0, 0, 0, 0.2),  /* Outer shadow */
      inset 0 4px 6px rgba(0, 0, 0, 0.1),  /* Inner shadow for depth */
      inset 0 -4px 6px rgba(255, 255, 255, 0.1);  /* Highlight */
    border-radius: 50%;
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-color-8);
    font-weight: 700;
     font-family: "Dancing Script", serif;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    transition: transform 1s ease-in-out;
  }
  
  .heroSection:hover {
    animation: sunflower 10s ease-in-out infinite, wateryGlow 2s ease-in-out infinite alternate;
}

/* Sunflower Color Changing Effect */
@keyframes sunflower {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(45deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}

/* Watery Glow Effect */
@keyframes wateryGlow {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 0, 0.6), 0 0 20px rgba(255, 165, 0, 0.4);
        opacity: 1;
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 0, 0.8), 0 0 40px rgba(255, 69, 63, 0.6);
        opacity: 0.9;
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 0, 0.6), 0 0 20px rgba(249, 81, 66, 0.4);
        opacity: 1;
    }
}

.fs_one{
  font-size: clamp(50px, 4vw, 60px);
}